<div app-scroll>
  <div id="wrapper">
    <header>
      <div class="website-header">
        <div class="row">
          <h1>Angular 2 Showcase</h1>
          <nav>
            <a href="https://github.com/yearofmoo-articles/AngularJS-Second-Animation-Article" target="_blank" rel="nofollow" class="btn info medium">
              <i class="icon-github icon-left"></i> View Github Repo NG1
            </a>
            <a href="http://www.yearofmoo.com/2013/05/enhanced-animations-in-angularjs.html" target="_blank" rel="nofollow" class="btn library medium">
              <i class="icon-cloud icon-left"></i> View Article
            </a>
          </nav>
        </div>
      </div>
      <div class="navbar nav1 website-nav">
        <nav class="row">
          <form class="search-website-form field">
            <input type="search" placeholder="Search Wikipedia..." class="search input" #term (keyup)="search(term.value)" />
            <!--TODO overlay needs some CSS work to render properly-->
            <!--<div class="overlay">
              <ul>
                <li *ngFor="let item of items | async">
                  {{item}}
                </li>
              </ul>
            </div>-->
          </form>
          <ul class="toggles">
            <li>
              <a routerLink="/dashboard/all">Dashboard</a>
            </li>
            <li>
              <a routerLink="/apps">All Apps</a>
            </li>
            <li>
              <a routerLink="/future">Future</a>
            </li>
            <li>
              <a routerLink="/dashboard/onlygoogle">Only Google</a>
            </li>
            <li>
              <a routerLink="/dashboard/games">Games</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="navbar alternative-nav">
        <div class="row aligned-inline-form">
          <div class="col ani">
            <span class="medium btn library">
              Animation Library<i class="icon-right-open"></i>
            </span>
          </div>
          <div class="col ani">
            <div class="medium default btn">
              Angular 2 Native Animations
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>