<footer class="navbar nav1">
    <div class="row">
      <div class="inner">
        <div class="yearofmoo">
          <a href="http://www.yearofmoo.com/" target="_blank" class="btn info">
            <i class="icon-cloud"></i> http://www.yearofmoo.com V1 NG1
          </a>
          <a href="http://www.nilsnaegele.com/" target="_blank" class="btn info">
            <i class="icon-cloud"></i> http://nilsnaegele.com V2 NG2 WIP
          </a>
        </div>
        <nav>
          <a href="https://github.com/NilsHolger/angular2showcaseapp.git" target="_blank" rel="nofollow" class="btn info medium">
            <i class="icon-github icon-left"></i> View Github Repo NG 2
          </a>
          <a href="http://www.yearofmoo.com/2013/05/enhanced-animations-in-angularjs.html" target="_blank" rel="nofollow" class="btn library medium">
            <i class="icon-cloud icon-left"></i> View Article
          </a>
          <a href="http://nilsnaegele.com/coderunner/photoapp/" target="_blank" class="btn info medium">
           Built with Passion and <i class="icon-heart icon-left"></i> 
          </a>
        </nav>
      </div>
    </div>
  </footer>
