<div *ngIf="selectedApp">
  <h2>{{selectedApp.name | uppercase }} is the selected App!</h2>
  <div><label>Submitter: </label>{{selectedApp.submitter}} is the Hero Developer!</div>
  <div>
    <button class="medium btn library" (click)="gotoDetail()">View Details</button>
  </div>
</div>
<ul class="heroes" [@flyInOut]="'in'">
  <li *ngFor="let app of apps" [@appState]="state" [class.selected]="app === selectedApp" (click)="onSelect(app)">
    <span class="badge">{{app.name}}</span> {{app.submitter}}
  </li>
</ul>